a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: left;
    font-family: 'PT Sans';
    font-weight: bold;
    page-break-after: avoid;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
    text-transform: uppercase;
}

h3 {
    font-size: 140%;
    font-weight: bold;
}

h3 a,
h5 a {
    color: inherit;
}

h4,
h5 {
    font-size: 120%;
}

nav.page-main {
    display: none;
}
