@page {
    margin: 28mm 28mm 33mm 25mm;
    size: 210mm 297mm;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14pt;
    text-size-adjust: none;
}

pre,
img {
    margin-right: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-before: auto;
    page-break-after: avoid;
}

p {
    orphans: 5;
}

img {
    margin-top: 1em;
    page-break-before: auto;
    page-break-after: avoid;
    max-height: 100mm !important;
}

.cover {
    background-image: url(/cover.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    font-size: 6mm;
    aspect-ratio: 145/204;
}

h1 .author,
h1 .title,
h1 em {
    position: absolute;
    top: 5%;
    right: 15%;
    width: auto;
    text-align: right;
    display: block;
    margin: 0;
    padding: 0;
}

h1 .title {
    top: calc(5% + 1.2em);
}

h1 em {
    top: 62%;
    left: 13%;
    width: 5em;
    color: antiquewhite;
}

p,
ul,
ol {
    orphans: 4;
}

.page-break,
.cover {
    page-break-after: always;
}

.no-page-break {
    page-break-inside: avoid;
}

nav.page-main {
    display: none;
}

.cc-by-nc {
    background-image: url(/img/cc-by-nc.png);
    background-position: 0 0.3em;
    background-repeat: no-repeat;
    padding-left: 92px;
}
